.image{
    position: absolute;
    top:43px;
     width: 100%;
  height: 99.5vh;
  z-index: -1;
  overflow:hidden;

}
.image img{
     width: 100%;
  height: 200vh;
  object-fit: cover; 
}
.text{
 
  color: white;
  position: absolute;
  right: 28rem;
  top: 10rem;
  z-index:10;
  font-family: Louize, serif;
  font-style:italic;
  font-weight:400;
  font-size:62px;
  line-height: 42px;
  cursor: pointer;

}
.text:hover{
  color: #c58940;
}
.tExt{
position: absolute;
right:22rem;
top:14rem;
  color:white;
  font-family: Louize, serif;
  font-style:italic;
  font-weight:400;
  font-size:49px;
  line-height: 42px;
  cursor: pointer;

}
.tExt:hover{
  color: #c58940;
}